.main-heads{
    color: rgb(110, 187, 180);
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 57px;
    line-height: 1.15em;
    letter-spacing: .02em;
    text-transform: uppercase;
}

.main-text{
    margin-left:7.25%;
    margin-right: 7%;
    margin-top: 2%;
    margin-bottom: 3%;
    color: gray;
    font-family: 'Roboto Condensed', sans-serif;

}

.read{
    margin-left:7.25%;
    margin-bottom: 3%;
}
.cust-head{
    color: rgb(110, 187, 180);
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
}
.place-head{
    color: rgb(110, 187, 180);
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
}
.travel{
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 3%; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: transparent;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }

  .testimonial{
    margin-top: 4%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 3%;
  }

  .form-st{
    margin-top: 2%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 14%;
  }

  .form-head{
    color: rgb(110, 187, 180);
    margin-top: 4%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 2%;
  }

  .sec-head{
    color: rgb(163, 218, 213);
    margin-top: 2%;
    margin-left:7%;
    margin-right: 7%;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    text-decoration: underline;
  }